<h1 class="mt-5 mb-4 heading">Update Product</h1>

<% if(errors) { %>
<div class="alert alert-danger" role="alert">
  <ul>
    <% errors.forEach(error => { %>
    <li><%= error.msg %></li>
    <% }) %>
  </ul>
</div>
<% }%>

<form action="/update-product/" method="post" enctype="multipart/form-data">
  <input
    type="hidden"
    class="form-control"
    id="id"
    name="id"
    value="<%= product.id %>"
  />
  <div class="mb-3">
    <label for="name" class="form-label">Product Name</label>
    <input
      type="text"
      class="form-control"
      id="name"
      name="name"
      value="<%= product.name %>"
    />
  </div>
  <div class="mb-3">
    <label for="desc" class="form-label">Description</label>
    <textarea class="form-control" id="desc" name="desc" rows="3">
<%= product.description %></textarea
    >
    <br />
  </div>
  <div class="mb-3">
    <label for="price" class="form-label">Price</label>
    <input
      type="number"
      class="form-control"
      id="price"
      name="price"
      value="<%= Number(product.price) %>"
    />
  </div>
  <div class="mb-3">
    <label for="imageUrl" class="form-label">Image URL</label>
    <input
      type="file"
      name="imageUrl"
      id="imageUrl"
      accept="images/*"
      value="<%= product.imageUrl %>"
    />
    <!-- <input
      type="text"
      class="form-control"
      id="imageUrl"
      name="imageUrl"
      value="<%= product.imageUrl %>"
    /> -->
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
